<% title 'Log In' %>

<!-- 
<%# content_for :navigation do %>
	<li class="important"><%% link_to 'Forgot password?', forgot_password_url %></li>
<%# end %>
-->

<% form_tag session_path do -%>
	<table style="border-collapse: collapse; border: none">
		<tr>
			<td width="100px" style="border-collapse: collapse; border: none"><%= label_tag 'User name:' %></td>
			<td style="border-collapse: collapse; border: none"><%= text_field_tag 'login', @login %></td>
		</tr>
		
		<tr>
			<td style="border-collapse: collapse; border: none"><%= label_tag 'Password:' %></td>
			<td style="border-collapse: collapse; border: none"><%= password_field_tag 'password', nil %></td>
		</tr>
		<tr>
			<td style="border-collapse: collapse; border: none"><%= label_tag 'remember_me', 'Remember me:' %></td>
			<td style="border-collapse: collapse; border: none"><%= check_box_tag 'remember_me', '1', @remember_me %></td>
		</tr>		

	</table>
	<p>
		<%= submit_tag 'Log in' %>
	</p>
<% end -%>

