  <%= form.error_messages %>

  <p>
    <%= form.label :date %><br />
    <%= form.date_select :date %>
  </p>
  <p>
    <%= form.label :odometer %><br />
    <%= form.text_field :odometer %>
  </p>
  <p>
    <%= form.label :cost %><br />
    <%= form.text_field :cost %>
  </p>
  <p>
    <%= form.label :gallons %><br />
    <%= form.text_field :gallons %>
  </p>
  <p>
    <%= form.label :brand %><br />
    <%= form.text_field :brand %>
  </p>
  <p>
    <%= form.label :grade %><br />
    <%= form.text_field :grade %>
  </p>
  <p>
    <%= submit_tag %>
  </p>
