<h1>New fill_up</h1>

<% form_for(@fill_up) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :brand %><br />
    <%= f.text_field :brand %>
  </p>
  <p>
    <%= f.label :grade %><br />
    <%= f.text_field :grade %>
  </p>
  <p>
    <%= f.label :odometer %><br />
    <%= f.text_field :odometer %>
  </p>
  <p>
    <%= f.label :cost_in_cents %><br />
    <%= f.text_field :cost_in_cents %>
  </p>
  <p>
    <%= f.label :gallons %><br />
    <%= f.text_field :gallons %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', fill_ups_path %>
