<% title 'Imported Fill Ups Report' %>

<% content_for :navigation do %>
	<li><%= link_to 'Back', vehicles_path %></li>
<% end %>

<p><%= params.inspect %></p>
<p><%= @name %></p>
<p><%= @items.length %></p>

<% if !@failures.blank? %>
  <% for failure in @failures %>
    <p><%= failure %></p>
  <% end %>
<% else %>
  
<% end %>

