<%= form.error_messages %>

<p>
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :make %><br />
  <%= form.text_field :make %>
</p>
<p>
  <%= form.label :model %><br />
  <%= form.text_field :model %>
</p>
<p>
  <%= form.label :year %><br />
  <%= form.text_field :year %>
</p>
<p>
  <%= form.label :miles %><br />
  <%= form.text_field :miles %>
</p>
<p>
  <%= submit_tag %>
</p>
