<h1>Editing vehicle</h1>

<% form_for(@vehicle) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :make %><br />
    <%= f.text_field :make %>
  </p>
  <p>
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </p>
  <p>
    <%= f.label :year %><br />
    <%= f.date_select :year %>
  </p>
  <p>
    <%= f.label :miles %><br />
    <%= f.text_field :miles %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @vehicle %> |
<%= link_to 'Back', vehicles_path %>
