<% title "Vehicles" %>

<% content_for :navigation do %>
	<li><%= link_to 'New vehicle', new_vehicle_path %></li>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>Miles</th>
		<th>Actions</th>
  </tr>

<% for vehicle in @vehicles %>
  <tr>
    <td><%=h vehicle.name %></td>
    <td><%=h vehicle.make %></td>
    <td><%=h vehicle.model %></td>
    <td><%=h vehicle.year %></td>
    <td><%=h vehicle.current_miles %></td>
    <td><%= link_to 'Show', vehicle %>&nbsp;
    <%= link_to 'Edit', edit_vehicle_path(vehicle) %>&nbsp;
    <%= link_to 'Destroy', vehicle, :confirm => 'Are you sure?', :method => :delete %>&nbsp;
    <%= link_to 'Refuel', new_vehicle_fill_up_path(vehicle) %></td>
  </tr>
<% end %>
</table>

