<% title @vehicle.name %>

<% content_for :navigation do %>
	<li><%= link_to 'Edit', edit_vehicle_path(@vehicle) %></li>
	<li><%= link_to 'Back', vehicles_path %></li>
<% end %>
<p>
  <b>Make:</b>
  <%=h @vehicle.make %>
</p>

<p>
  <b>Model:</b>
  <%=h @vehicle.model %>
</p>

<p>
  <b>Year:</b>
  <%=h @vehicle.year %>
</p>

<p>
  <b>Original Miles:</b>
  <%=h @vehicle.miles %>
</p>

<% if @vehicle.current_miles != @vehicle.miles %>
<p>
  <b>Current Miles:</b>
  <%= @vehicle.current_miles %>
</p>
<% end %>

<% if @vehicle.fill_ups.count > 0 %>
<h3>Fill Ups</h3>
<table>
  <tr>
    <th>Date</th>
    <th>Brand</th>
    <th>Grade</th>
    <th>Odometer</th>
		<th>Elapsed Miles</th>
    <th>Cost</th>
		<th>Gallons</th>
		<th>Actions</th>
  </tr>

<% for fillup in @vehicle.fill_ups..sort { |a,b| a.odometer <=> b.odometer} %>
  <tr>
    <td><%=h fillup.date %></td>
    <td><%=h fillup.brand %></td>
    <td><%=h fillup.grade %></td>
    <td><%=h fillup.odometer %></td>
		<td><%=h fillup.elapsed_miles %></td>
    <td><%=h fillup.cost %></td>
    <td><%=h fillup.gallons %></td>
    <td>
			<%= link_to 'Edit', edit_vehicle_fill_up_path(@vehicle) %>&nbsp;
	    <%= link_to 'Destroy', vehicle_fill_up_path(@vehicle, fillup), :confirm => 'Are you sure?', :method => :delete %>
		</td>
  </tr>
<% end %>
<% end %>
</table>



